  #content_b:nth-child(1):after{ 
    background: url(../images/猩猩跳.jpg) no-repeat center/100% 100%;
  }
  #content_b:nth-child(2):after{ 
    background: url(../images/蹬壁上墙.gif) no-repeat center/100% 100%;
  }
  #content_b:nth-child(3):after{ 
    background: url(../images/速过.jpg) no-repeat center/100% 100%;
  }
  #content_b:nth-child(4):after{ 
    background: url(../images/落地翻滚.gif) no-repeat center/100% 100%;
  }
  .wudi_a:hover .texiao_a{
    left: 67.5%;
    opacity: 1;    
  }
  .wudi_b:hover .texiao_b{
      left: 5%;
      opacity: 1;
  }